body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  justify-content: space-between;
  /*background-image: url("images/ncc.jpg");
  background-repeat: no-repeat;
  background-size: contain;*/
  background-color: #fcfcfc;
}

header {
  display: flex;
  background-color: #335;
  padding: 2px;
  padding-left: 10%
}

header>* {
  width: 30px
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
}

header input {
  width: 70%;
}

.content {
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
}

.content img {
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.logo img {
  width: 25%;
}

.programs {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgray;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center
}

.programs img {
  width: 100%;
}

.more {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
}

.more img {
  width: 100%;
}

.comments {
  margin: 3%;
}

.comments form {
  display: flex;
  justify-content: space-between;
}

.comments .text {
  width: 80%;
  padding: 2%;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
}

.comments .submit {
  border-radius: 5px;
  width: 15%;
  background: lightcoral;
  border: 0px solid lightcoral;
}

footer {
  font-size: 15px;
  background-color: #333344;
  text-align: center;
  color: white;
  padding: 2%;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer_links a {
  color: white;
}

.footer_links {
  display: flex;
  flex-direction: column;
}

.footer div {
  display: flex;
  align-items: space-around;
  flex-direction: column;
  width: 50%;
}

.footer img {
  width: 50%;
  border: 5px solid lightgrey;
  border-radius: 5%;
  align-self: center;
}

.page_button {
  width: 80%;
  padding: 1%;
  border: 1px solid sandybrown;
  border-radius: 10px;
  background-color: gold;
  margin-left: 10%;
}

.back_to_top {
  margin: auto;
}

@media (min-width:800px) {
  .content {
    width: 95%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .programs {
    width: 47.5%;
    margin-left: 1%;
    margin-right: 1%;
  }
}